:root{
    --cs: 50px;

    --br: 20px;
}
.cap{
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

.cap h3{
    font-size:4rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #363c5f;

    height:80vh;
}

.box{
    position: relative;
    border-radius: var(--br);
    margin: auto;
    clip-path: polygon(0 0, calc(100% - var(--cs)) 0, 100% var(--cs), 100% 100%, 0 100%);
    /*box-shadow:*/
    /*        -50px -50px 0 -45px red,*/
    /*        50px 50px 0 -45px red;*/
}

.box::after {
    content: '';
    position: absolute;
    display: block;
    width: var(--cs);
    height: var(--cs);
    background-color: #e1e1f2;
    top: 0;
    right: 0;
    border-bottom-left-radius: var(--br);
}

@media only screen and (max-width:768px)
{
    .box{
        height: 80%;
        padding: 10px 10px;


    }
    .cap p{
        width: 60%;
    }
    .cap h3{
        font-size:2rem;
    }
}